# Melbourne Urban Forest: Data Wrangling and MySQL Ingestion

Name: Zihan

## Step 0 - Data Wrangling for Raw Dataset

In [4]:
import pandas as pd

# 1. å®šä¹‰æ–‡ä»¶è·¯å¾„å’Œæ–°çš„åˆ—æ˜ å°„å…³ç³»

file_path = r'01_raw_data/04_urban-forest.csv' 

# æ›´æ–°æ˜ å°„å…³ç³»ï¼š
# - ç§»é™¤ 'CoordinateLocation'
# - æ–°å¢ 'Latitude' å’Œ 'Longitude'
column_mapping = {
    'CoM ID': 'com_id',
    'Common Name': 'common_name',
    'Scientific Name': 'scientific_name',
    'Genus': 'genus',
    'Family': 'family',
    'Diameter Breast Height': 'diameter_breast_height',
    'Year Planted': 'year_planted',
    'Date Planted': 'date_planted',
    'Age Description': 'age_description',
    'Useful Life Expectency': 'useful_life_expectency',
    'Useful Life Expectency Value': 'useful_life_expectency_value',
    'Precinct': 'precinct',
    'Located in': 'located_in',
    'UploadDate': 'uploaddate',
    # ç›´æ¥è¯»å–ç‹¬ç«‹çš„ç»çº¬åº¦åˆ—
    'Latitude': 'latitude',
    'Longitude': 'longitude'
}

# 2. è¯»å–ã€é€‰æ‹©å’Œé‡å‘½åæ•°æ®

try:
    # åªè¯»å–æˆ‘ä»¬éœ€è¦çš„åˆ—ï¼ˆç°åœ¨åŒ…å«äº† Latitude å’Œ Longitudeï¼‰
    df = pd.read_csv(file_path, usecols=column_mapping.keys())

    # ä½¿ç”¨æ›´æ–°åçš„æ˜ å°„å…³ç³»è¿›è¡Œé‡å‘½å
    df.rename(columns=column_mapping, inplace=True)
    
    print("æ•°æ®åŠ è½½å¹¶é‡å‘½åæˆåŠŸï¼")
    print("\n" + "="*50 + "\n")


    # 3. æ£€æŸ¥å¹¶æ˜¾ç¤ºæœ€ç»ˆç»“æœ
    # æ­¤æ—¶ä¸å†éœ€è¦ä»»ä½•æ‹†åˆ†æ“ä½œäº†
    
    print("æœ€ç»ˆå¤„ç†å®Œæˆçš„æ•°æ®ä¿¡æ¯ï¼š")
    # Pandasåœ¨è¯»å–æ—¶é€šå¸¸ä¼šè‡ªåŠ¨å°†ç»çº¬åº¦è¯†åˆ«ä¸ºfloat64ç±»å‹
    df.info()

    print("\næœ€ç»ˆæ•°æ®é¢„è§ˆï¼ˆå‰5è¡Œï¼‰ï¼š")
    print(df.head())

except FileNotFoundError:
    print(f"é”™è¯¯ï¼šæ–‡ä»¶æœªæ‰¾åˆ°ï¼Œè¯·æ£€æŸ¥è·¯å¾„ '{file_path}' æ˜¯å¦æ­£ç¡®ã€‚")
except KeyError as e:
    print(f"é”™è¯¯ï¼šCSVæ–‡ä»¶ä¸­ä¼¼ä¹ç¼ºå°‘äº†åˆ— {e}ã€‚è¯·æ£€æŸ¥ column_mapping ä¸­çš„é”®æ˜¯å¦ä¸CSVåˆ—åå®Œå…¨åŒ¹é…ã€‚")
except Exception as e:
    print(f"å¤„ç†è¿‡ç¨‹ä¸­å‘ç”Ÿé”™è¯¯: {e}")

æ•°æ®åŠ è½½å¹¶é‡å‘½åæˆåŠŸï¼

==================================================

æœ€ç»ˆå¤„ç†å®Œæˆçš„æ•°æ®ä¿¡æ¯ï¼š
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76928 entries, 0 to 76927
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   com_id                        76928 non-null  int64
 1   common_name                   76903 non-null  object
 2   scientific_name               76927 non-null  object
 3   genus                         76927 non-null  object
 4   family                        76927 non-null  object
 5   diameter_breast_height        24986 non-null  float64
 6   year_planted                  76928 non-null  int64
 7   date_planted                  76928 non-null  object
 8   age_description               24969 non-null  object
 9   useful_life_expectency        24969 non-null  object
 10  useful_life_expectency_value  24969 non-null  float64
 11  precinct                      0 non-null      float64
 12  located_in                    76926 non-null  object
 13  uploaddate                    76928 non-null  object
 14  latitude                      76928 non-null  float64
 15  longitude                     76928 non-null  float64
dtypes: float64(5), int64(2), object(9)
memory usage: 9.4+ MB

æœ€ç»ˆæ•°æ®é¢„è§ˆï¼ˆå‰5è¡Œï¼‰ï¼š
    com_id      common_name             scientific_name          genus  \
0  1049657          Unknown     Melaleuca parvistaminea      Melaleuca
1  1782373  Coastal Banksia        Banksia integrifolia        Banksia
2  1604511          Red Box     Eucalyptus polyanthemos     Eucalyptus
3  1070399         Ironbark      Eucalyptus sideroxylon     Eucalyptus
4  1734680  Drooping sheoak  Allocasuarina verticillata  Allocasuarina

          family  diameter_breast_height  year_planted date_planted  \
0      Myrtaceae                     NaN          1998   1998-12-17
1     Proteaceae                     NaN          2020   2020-03-04
2      Myrtaceae                     NaN          2015   2015-05-08
3      Myrtaceae                    12.0          2006   2006-12-19
4  Casuarinaceae                     NaN          2018   2018-09-05

  age_description useful_life_expectency  useful_life_expectency_value  \
0             NaN                    NaN                           NaN
1             NaN                    NaN                           NaN
2             NaN                    NaN                           NaN
3     Semi-Mature            31-60 years                          60.0
4             NaN                    NaN                           NaN

   precinct located_in  uploaddate   latitude   longitude
0       NaN       Park  2021-01-10 -37.790705  144.944666
1       NaN       Park  2021-01-10 -37.802899  144.926193
2       NaN       Park  2021-01-10 -37.795723  144.969386
3       NaN     Street  2021-01-10 -37.827934  144.901980
4       NaN       Park  2021-01-10 -37.792724  144.948192

In [3]:
df

,com_id,common_name,scientific_name,genus,family,diameter_breast_height,year_planted,date_planted,age_description,useful_life_expectency,useful_life_expectency_value,precinct,located_in,uploaddate,latitude,longitude
0,1049657,Unknown,Melaleuca parvistaminea,Melaleuca,Myrtaceae,NaN,1998,1998-12-17,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.790705,144.944666
1,1782373,Coastal Banksia,Banksia integrifolia,Banksia,Proteaceae,NaN,2020,2020-03-04,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.802899,144.926193
2,1604511,Red Box,Eucalyptus polyanthemos,Eucalyptus,Myrtaceae,NaN,2015,2015-05-08,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.795723,144.969386
3,1070399,Ironbark,Eucalyptus sideroxylon,Eucalyptus,Myrtaceae,12.0,2006,2006-12-19,Semi-Mature,31-60 years,60.0,NaN,Street,2021-01-10,-37.827934,144.901980
4,1734680,Drooping sheoak,Allocasuarina verticillata,Allocasuarina,Casuarinaceae,NaN,2018,2018-09-05,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.792724,144.948192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76923,1787150,Drooping sheoak,Allocasuarina verticillata,Allocasuarina,Casuarinaceae,NaN,2020,2020-04-08,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.778453,144.957660
76924,1518924,Drooping sheoak,Allocasuarina verticillata,Allocasuarina,Casuarinaceae,NaN,2012,2012-11-18,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.780520,144.955620
76925,1509645,Hoop Pine,Araucaria cunninghamii,Araucaria,Araucariaceae,NaN,2012,2012-07-06,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.815750,144.937147
76926,1782310,Silver Banksia,Banksia marginata,Banksia,Proteaceae,NaN,2020,2020-01-04,NaN,NaN,NaN,NaN,Street,2021-01-10,-37.802856,144.925837
76927,1763515,Sydney Blue Gum,Eucalyptus saligna,Eucalyptus,Myrtaceae,NaN,2019,2019-06-25,NaN,NaN,NaN,NaN,Park,2021-01-10,-37.827771,144.986447

In [5]:
# ç§»é™¤ precinct åˆ—
# inplace=True è¡¨ç¤ºç›´æ¥åœ¨åŸæœ‰çš„ DataFrame ä¸Šè¿›è¡Œä¿®æ”¹
df.drop(columns=['precinct'], inplace=True)

# éªŒè¯ä¸€ä¸‹åˆ—æ˜¯å¦å·²è¢«ç§»é™¤
print("'precinct' åˆ—å·²ç§»é™¤ï¼Œå‰©ä½™åˆ—å¦‚ä¸‹ï¼š")
print(df.columns)

'precinct' åˆ—å·²ç§»é™¤ï¼Œå‰©ä½™åˆ—å¦‚ä¸‹ï¼š
Index(['com_id', 'common_name', 'scientific_name', 'genus', 'family',
       'diameter_breast_height', 'year_planted', 'date_planted',
       'age_description', 'useful_life_expectency',
       'useful_life_expectency_value', 'located_in', 'uploaddate', 'latitude',
       'longitude'],
      dtype='object')

## Step 1 - Save Your Cleaned DataFrame to CSV

In [6]:
# Define the path for the wrangled data file
wrangled_file_path = '02_wrangled_data/Table12_UrbanForestTable.csv'

# Save the DataFrame to a CSV file, ready for import
df.to_csv(wrangled_file_path, index=False, encoding='utf-8')

print(f"Cleaned data saved to {wrangled_file_path}")

Cleaned data saved to 02_wrangled_data/Table12_UrbanForestTable.csv

## Step 2 - Create Schema for `Table12_UrbanForestTable`

In [10]:
import mysql.connector
from mysql.connector import Error

# Database connection configuration
db_config = {
    'host': 'database-plantx.cqz06uycysiz.us-east-1.rds.amazonaws.com',
    'user': 'zihan',
    'password': '2002317Yzh12138.',
    'database': 'FIT5120_PlantX_Database',
    'allow_local_infile': True,
    'use_pure': True,
    'charset': 'utf8mb4'
}

# --- ä»»åŠ¡1ï¼šåˆ›å»ºè¡¨ç»“æ„ (æœ€ç»ˆä¿®æ­£ç‰ˆ) ---
print("--- [ä»»åŠ¡ 1/4] æ­£åœ¨åˆ›å»ºè¡¨ç»“æ„... ---")
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨")
        cursor = connection.cursor()

        # åˆ é™¤å¯èƒ½å­˜åœ¨çš„æ—§è¡¨ï¼Œç¡®ä¿æˆ‘ä»¬ä»ä¸€ä¸ªå¹²å‡€çš„çŠ¶æ€å¼€å§‹
        print("æ­£åœ¨åˆ é™¤æ—§è¡¨ï¼ˆå¦‚æœå­˜åœ¨ï¼‰...")
        cursor.execute("DROP TABLE IF EXISTS Table12_UrbanForestTable")
        print("æ—§è¡¨å·²åˆ é™¤ã€‚")

        # åˆ›å»ºè¡¨çš„SQLè¯­å¥ (æœ€ç»ˆä¿®æ­£ï¼šä¸ºcoordsæ·»åŠ é»˜è®¤å€¼)
        create_table_12 = """
        CREATE TABLE Table12_UrbanForestTable (
            com_id INT PRIMARY KEY,
            common_name TEXT,
            scientific_name TEXT,
            genus TEXT,
            family TEXT,
            diameter_breast_height DOUBLE,
            year_planted INT,
            date_planted DATE,
            age_description TEXT,
            useful_life_expectency TEXT,
            useful_life_expectency_value INT,
            located_in TEXT,
            uploaddate DATE,
            latitude DOUBLE,
            longitude DOUBLE,
            -- ä¸ºcoordså­—æ®µæ·»åŠ ä¸€ä¸ªä¸´æ—¶çš„é»˜è®¤å€¼ä»¥è§£å†³LOAD DATAæ—¶çš„NOT NULLå†²çª
            coords POINT NOT NULL DEFAULT (POINT(0,0)),
            SPATIAL INDEX(coords)
        ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
        """
        cursor.execute(create_table_12)
        connection.commit()
        print("âœ… è¡¨'Table12_UrbanForestTable'çš„ç»“æ„åˆ›å»ºæˆåŠŸã€‚")

except Error as e:
    print(f"âŒ åˆ›å»ºè¡¨ç»“æ„æ—¶å‘ç”Ÿé”™è¯¯: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("ğŸ”Œ å·²å…³é—­ç”¨äºåˆ›å»ºè¡¨ç»“æ„çš„MySQLè¿æ¥ã€‚\n")

--- [ä»»åŠ¡ 1/4] æ­£åœ¨åˆ›å»ºè¡¨ç»“æ„... ---
âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨
æ­£åœ¨åˆ é™¤æ—§è¡¨ï¼ˆå¦‚æœå­˜åœ¨ï¼‰...
æ—§è¡¨å·²åˆ é™¤ã€‚
âœ… è¡¨'Table12_UrbanForestTable'çš„ç»“æ„åˆ›å»ºæˆåŠŸã€‚
ğŸ”Œ å·²å…³é—­ç”¨äºåˆ›å»ºè¡¨ç»“æ„çš„MySQLè¿æ¥ã€‚

## Step 3 - Import Data into `Table12_UrbanForestTable`

In [11]:
try:
    # Re-establish the connection for the data import
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("\nSuccessfully connected to MySQL server for Table12 import.")
        cursor = connection.cursor()

        # Define the query to load data from your cleaned CSV file
        # IMPORTANT: Make sure the file path is correct!
        load_data_query_12 = f"""
        LOAD DATA LOCAL INFILE '02_wrangled_data/Table12_UrbanForestTable.csv'
        INTO TABLE Table12_UrbanForestTable
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        LINES TERMINATED BY '\\r\\n'
        IGNORE 1 LINES
        (
            com_id, common_name, scientific_name, genus, family,
            diameter_breast_height, year_planted, date_planted,
            age_description, useful_life_expectency,
            useful_life_expectency_value, located_in, uploaddate,
            latitude, longitude
        );
        """

        cursor.execute(load_data_query_12)
        connection.commit()
        print(f"Table12 data import successful! {cursor.rowcount} rows affected.")

except Error as e:
    print(f"Error occurred during Table12 import: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection for Table12 import closed.")

Successfully connected to MySQL server for Table12 import.
Table12 data import successful! 76928 rows affected.
MySQL connection for Table12 import closed.

## Step 4 - Populate the Spatial Column (coords)

In [12]:
try:
    # Re-establish the connection to update the spatial column
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("\nSuccessfully connected to MySQL server for spatial column update.")
        cursor = connection.cursor()

        # SQL statement to populate the 'coords' column from latitude and longitude
        update_spatial_column = """
        UPDATE Table12_UrbanForestTable
        SET coords = POINT(longitude, latitude)
        WHERE longitude IS NOT NULL AND latitude IS NOT NULL;
        """

        cursor.execute(update_spatial_column)
        connection.commit()
        print(f"Spatial column 'coords' populated successfully! {cursor.rowcount} rows updated.")

except Error as e:
    print(f"Error occurred during spatial column update: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection for spatial update closed.")

Successfully connected to MySQL server for spatial column update.
Spatial column 'coords' populated successfully! 76928 rows updated.
MySQL connection for spatial update closed.

## Step 5 - Verify Imported Data and Preview

In [13]:
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("\nâœ… Successfully connected to MySQL server for Table12 verification.")
        cursor = connection.cursor()

        # Get the total number of rows in the table
        cursor.execute("SELECT COUNT(*) FROM Table12_UrbanForestTable")
        row_count = cursor.fetchone()[0]
        print(f"ğŸ“Š Table12_UrbanForestTable currently contains {row_count} rows.")

        # Fetch and print the first 5 rows for a quick preview
        print("\n--- Preview of first 5 rows from Table12 ---")
        # Use ST_AsText() to display the POINT data in a readable format
        cursor.execute("SELECT com_id, common_name, latitude, longitude, ST_AsText(coords) FROM Table12_UrbanForestTable LIMIT 5")
        rows = cursor.fetchall()
        for row in rows:
            print(row)

except Error as e:
    print(f"âŒ Error occurred during Table12 verification: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("ğŸ”Œ MySQL connection for Table12 verification closed.")

âœ… Successfully connected to MySQL server for Table12 verification.
ğŸ“Š Table12_UrbanForestTable currently contains 76928 rows.

--- Preview of first 5 rows from Table12 ---
(1013381, 'Dutch Elm', -37.81223297971192, 144.9506598126038, 'POINT(144.9506598126038 -37.81223297971192)')
(1013382, 'Huntingdon Elm', -37.81226850504794, 144.95051593219205, 'POINT(144.95051593219205 -37.81226850504794)')
(1013383, 'English Elm', -37.8125145693672, 144.94975749030814, 'POINT(144.94975749030814 -37.8125145693672)')
(1013384, 'Dutch Elm', -37.81235693844764, 144.9497772995458, 'POINT(144.9497772995458 -37.81235693844764)')
(1013385, 'Dutch Elm', -37.81242493692164, 144.94954210109805, 'POINT(144.94954210109805 -37.81242493692164)')
ğŸ”Œ MySQL connection for Table12 verification closed.

## Sample for Klarissa

### Chinese Version

```
SELECT
    com_id,
    common_name,
    -- ä½¿ç”¨ ST_Distance_Sphere è®¡ç®—ç²¾ç¡®çš„çƒé¢è·ç¦»ï¼ˆå•ä½ï¼šç±³ï¼‰
    ST_Distance_Sphere(coords, POINT(144.9671, -37.8183)) AS distance_in_meters
FROM
    Table12_UrbanForestTable
WHERE
    -- åœ¨ WHERE å­å¥ä¸­ç›´æ¥ä½¿ç”¨è¯¥å‡½æ•°è¿›è¡Œé«˜æ•ˆç­›é€‰
    ST_Distance_Sphere(coords, POINT(144.9671, -37.8183)) <= 500;
```

### English Version

```
SELECT
    -- Select the unique identifier and the common name for each tree.
    com_id,
    common_name,

    -- Calculate the distance from each tree's location to a specified central point.
    -- ST_Distance_Sphere calculates the great-circle distance on a sphere, returning the result in meters.
    -- The target point is created using POINT(longitude, latitude).
    ST_Distance_Sphere(coords, POINT(144.9671, -37.8183)) AS distance_in_meters
FROM
    -- Specify the table containing the urban forest data.
    Table12_UrbanForestTable
WHERE
    -- Filter the results to include only records within a 500-meter radius of the central point.
    -- This operation is highly efficient because it utilizes the SPATIAL INDEX on the 'coords' column,
    -- which prevents the database from scanning the entire table.
    ST_Distance_Sphere(coords, POINT(144.9671, -37.8183)) <= 500;
```