# Data Preparation: Enriching Threatened Species Index with Historical Weather Data for Time Series Analysis

Name: Zihan

### ä¸­æ–‡å·¥ä½œæµç¨‹æ€»ç»“ (Workflow Summary)

æœ¬Jupyter Notebookå®Œæ•´è®°å½•äº†ä»åŸå§‹æ•°æ®åŠ è½½åˆ°æœ€ç»ˆæ•°æ®é›†ç”Ÿæˆçš„å…¨è¿‡ç¨‹ï¼Œä¸»è¦åˆ†ä¸ºä»¥ä¸‹å››ä¸ªæ ¸å¿ƒæ­¥éª¤ï¼š

1.  **ä¸»æ•°æ®å¤„ç† (TSX Index Data Wrangling)**
    * åŠ è½½å¹¶åˆå¹¶äº†åˆ†å¸ƒåœ¨6ä¸ªä¸åŒCSVæ–‡ä»¶ä¸­çš„æ¾³å¤§åˆ©äºšå„å·åŠå…¨å›½çš„å—å¨èƒç‰©ç§æŒ‡æ•°ï¼ˆTSX Indexï¼‰æ•°æ®ã€‚
    * å¯¹æ•°æ®è¿›è¡Œäº†æ ‡å‡†åŒ–å¤„ç†ï¼Œç»Ÿä¸€äº†åˆ—åå’Œæ ¼å¼ï¼Œç”Ÿæˆäº†åŒ…å«2000å¹´è‡³2021å¹´è®°å½•çš„ `combined_df` ä¸»æ•°æ®é›†ã€‚

2.  **å¤–éƒ¨æ•°æ®ç­–ç•¥åˆ¶å®š (External Data Strategy)**
    * ç¡®å®šé€šè¿‡å¼•å…¥å†å²å¤©æ°”æ•°æ®ä½œä¸ºå¤–ç”Ÿå˜é‡ï¼Œæ¥ä¸°å¯Œå’Œå¢å¼ºåç»­æ—¶é—´åºåˆ—æ¨¡å‹çš„é¢„æµ‹èƒ½åŠ›ã€‚
    * é€‰å®š Open-Meteo å†å²å¤©æ°”APIä½œä¸ºæ•°æ®æºï¼Œå¹¶ç¡®å®šäº†ä¸‰ä¸ªå…³é”®å¤©æ°”æŒ‡æ ‡ï¼šå¹´å¹³å‡æ¸©åº¦ã€å¹´æ€»é™æ°´é‡ã€å¹´æ€»çŸ­æ³¢è¾å°„é‡ã€‚

3.  **å¤©æ°”æ•°æ®è·å–ä¸å¤„ç† (Weather Data Acquisition & Processing)**
    * é‡‡ç”¨å®˜æ–¹ `openmeteo-requests` Pythonå®¢æˆ·ç«¯ï¼Œä¸ºå…¶é…ç½®äº†ç¼“å­˜å’Œè‡ªåŠ¨é‡è¯•åŠŸèƒ½ï¼Œä»¥ç¡®ä¿æ•°æ®è·å–çš„ç¨³å®šæ€§å’Œé«˜æ•ˆæ€§ã€‚
    * ä»¥å„å·é¦–åºœçš„ç»çº¬åº¦ä¸ºåŸºå‡†ï¼Œå¾ªç¯è°ƒç”¨APIï¼Œè·å–äº†2000å¹´è‡³2024å¹´çš„**æ—¥åº¦**å¤©æ°”æ•°æ®ã€‚
    * å°†æµ·é‡çš„æ—¥åº¦æ•°æ®æŒ‰å¹´ä»½è¿›è¡Œèšåˆï¼ˆæ¸©åº¦æ±‚å¹³å‡ï¼Œé™æ°´ä¸è¾å°„æ±‚å’Œï¼‰ï¼Œè½¬æ¢ä¸º**å¹´åº¦**æ•°æ®ï¼Œå¹¶è®¡ç®—å‡ºå…¨å›½ï¼ˆNationalï¼‰çš„å¹³å‡æŒ‡æ ‡ã€‚
    * å¯¹èšåˆåçš„æ•°æ®è¿›è¡Œäº†æ¸…ç†ï¼Œç”Ÿæˆäº†å¹²å‡€ã€å®Œæ•´çš„ `weather_df` å¤©æ°”æ•°æ®é›†ã€‚

4.  **æœ€ç»ˆæ•°æ®åˆå¹¶ä¸å­˜å‚¨ (Final Merge & Storage)**
    * é€šè¿‡**å³åˆå¹¶ (Right Merge)** çš„æ–¹å¼ï¼Œå°†ä¸»æ•°æ® (`combined_df`) ä¸å¤©æ°”æ•°æ® (`weather_df`) åˆå¹¶ï¼Œç”Ÿæˆäº†åŒ…å«2000-2024å¹´å®Œæ•´è®°å½•çš„æœ€ç»ˆæ•°æ®é›† `final_df`ã€‚
    * å°† `final_df` å­˜å‚¨ä¸ºCSVæ–‡ä»¶ (`Table14_TSX_Table_VIC_version3.csv`)ï¼Œä½œä¸ºä¸‹ä¸€é˜¶æ®µ**SARIMAXæ¨¡å‹é¢„æµ‹åˆ†æ**çš„ç›´æ¥è¾“å…¥ã€‚

### ç¬¬ 1 æ­¥ï¼šå¯¼å…¥åº“å¹¶è®¾ç½®è·¯å¾„

åœ¨è¿™ä¸ªå•å…ƒæ ¼ä¸­ï¼Œæˆ‘ä»¬å¯¼å…¥ `pandas` å’Œ `os` åº“ï¼Œç„¶åå®šä¹‰åŒ…å«æ•°æ®æ–‡ä»¶çš„ç›®å½•è·¯å¾„å’Œæ–‡ä»¶ååˆ—è¡¨ã€‚è¿™æ˜¯æ‰€æœ‰åç»­æ“ä½œçš„å‡†å¤‡å·¥ä½œã€‚

In [1]:
# å•å…ƒæ ¼ 1
import os
import pandas as pd

# å®šä¹‰æ•°æ®æ‰€åœ¨çš„ç›®å½•
# ä½¿ç”¨æ­£æ–œæ '/'ï¼Œè¿™åœ¨Windows, Mac, å’Œ Linuxä¸Šéƒ½èƒ½å¾ˆå¥½åœ°å·¥ä½œ
data_directory = '01_raw_data/06_tsx_table_vic'

# å®šä¹‰éœ€è¦å¤„ç†çš„ã€å·²ç»é‡å‘½åå¥½çš„æ–‡ä»¶ååˆ—è¡¨
target_files = [
    "National.csv",
    "Australian_Capital_Territory.csv",
    "New_South_Wales.csv",
    "South_Australia.csv",
    "Victoria.csv",
    "Western_Australia.csv"
]

print("åº“å·²å¯¼å…¥ï¼Œè·¯å¾„å·²è®¾ç½®ã€‚")

åº“å·²å¯¼å…¥ï¼Œè·¯å¾„å·²è®¾ç½®ã€‚

### ç¬¬ 2 æ­¥ï¼šå¾ªç¯è¯»å–ã€å¤„ç†å¹¶åˆå¹¶æ•°æ®

è¿™æ˜¯æ ¸å¿ƒå¤„ç†æ­¥éª¤ã€‚ä»£ç ä¼šéå† `target_files` åˆ—è¡¨ä¸­çš„æ¯ä¸ªæ–‡ä»¶åï¼š
1.  è¯»å–å¯¹åº”çš„ CSV æ–‡ä»¶ã€‚
2.  æ ¹æ®æ–‡ä»¶åæ·»åŠ ä¸€ä¸ª `state` åˆ—ã€‚
3.  é‡å‘½å `value`, `low`, `high` åˆ—ã€‚
4.  æŒ‰æœ€ç»ˆè¦æ±‚çš„é¡ºåºé‡æ–°æ’åˆ—å„åˆ—ã€‚
5.  å°†å¤„ç†å¥½çš„æ•°æ®ï¼ˆDataFrameï¼‰æš‚å­˜åˆ°ä¸€ä¸ªåˆ—è¡¨ä¸­ã€‚

In [2]:
# å•å…ƒæ ¼ 2
# åˆå§‹åŒ–ä¸€ä¸ªç©ºåˆ—è¡¨ï¼Œç”¨äºå­˜æ”¾æ¯ä¸ªå¤„ç†å¥½çš„æ•°æ®æ¡†(DataFrame)
all_dataframes = []

print(f"å¼€å§‹ä»ç›®å½• '{data_directory}' ä¸­å¤„ç†æ–‡ä»¶...")

# å¾ªç¯éå†æ–‡ä»¶ååˆ—è¡¨
for filename in target_files:
    filepath = os.path.join(data_directory, filename)

    if not os.path.exists(filepath):
        print(f"è­¦å‘Šï¼šæ–‡ä»¶æœªæ‰¾åˆ°ï¼Œå·²è·³è¿‡ -> {filepath}")
        continue

    # 1. è¯»å–CSVæ–‡ä»¶
    df = pd.read_csv(filepath)
    
    # 2. ä»æ–‡ä»¶åä¸­æå–å·/åœ°åŒºåï¼Œå¹¶ä½œä¸ºæ–°åˆ—æ·»åŠ 
    state = filename.replace('.csv', '').replace('_', ' ')
    df['state'] = state
    
    # 3. é‡å‘½ååˆ—ä»¥åŒ¹é…æœ€ç»ˆçš„ç»“æ„
    df.rename(columns={
        'value': 'index_value',
        'low': 'index_conf_low',
        'high': 'index_conf_high'
    }, inplace=True)
    
    # 4. æŒ‰ç…§ä½ æŒ‡å®šçš„é¡ºåºé‡æ–°æ’åˆ—åˆ—
    df = df[['year', 'state', 'index_value', 'index_conf_low', 'index_conf_high']]
    
    # 5. å°†å¤„ç†å¥½çš„DataFrameæ·»åŠ åˆ°åˆ—è¡¨ä¸­
    all_dataframes.append(df)
    
    print(f"å·²å¤„ç†: {filename}")

print("\næ‰€æœ‰æ–‡ä»¶å¤„ç†å®Œæ¯•ã€‚")

å¼€å§‹ä»ç›®å½• '01_raw_data/06_tsx_table_vic' ä¸­å¤„ç†æ–‡ä»¶...
å·²å¤„ç†: National.csv
å·²å¤„ç†: Australian_Capital_Territory.csv
å·²å¤„ç†: New_South_Wales.csv
å·²å¤„ç†: South_Australia.csv
å·²å¤„ç†: Victoria.csv
å·²å¤„ç†: Western_Australia.csv

æ‰€æœ‰æ–‡ä»¶å¤„ç†å®Œæ¯•ã€‚

### ç¬¬ 3 æ­¥ï¼šæœ€ç»ˆåˆå¹¶ä¸æ•°æ®ç±»å‹è½¬æ¢

ä¸Šä¸€æ­¥åˆ›å»ºçš„åˆ—è¡¨ä¸­åŒ…å«äº†6ä¸ªç‹¬ç«‹çš„æ•°æ®é›†ã€‚ç°åœ¨ï¼Œæˆ‘ä»¬å°†å®ƒä»¬åˆå¹¶æˆä¸€ä¸ªå•ä¸€ã€å®Œæ•´çš„æ•°æ®é›†ï¼Œå¹¶ä¸¥æ ¼æŒ‰ç…§æ‚¨çš„è¦æ±‚è½¬æ¢æ¯ä¸€åˆ—çš„æ•°æ®ç±»å‹ï¼ˆä¾‹å¦‚ï¼Œå¹´ä»½è½¬ä¸ºæ•´æ•°ï¼ŒæŒ‡æ•°å€¼è½¬ä¸ºæµ®ç‚¹æ•°ï¼‰ã€‚

In [3]:
# å•å…ƒæ ¼ 3
# å°†åˆ—è¡¨ä¸­çš„æ‰€æœ‰DataFrameåˆå¹¶æˆä¸€ä¸ª
combined_df = pd.concat(all_dataframes, ignore_index=True)

# ç¡®ä¿æœ€ç»ˆçš„æ•°æ®ç±»å‹æ˜¯æ­£ç¡®çš„
combined_df['year'] = combined_df['year'].astype(int)
combined_df['state'] = combined_df['state'].astype(str)
combined_df['index_value'] = combined_df['index_value'].astype(float)
combined_df['index_conf_low'] = combined_df['index_conf_low'].astype(float)
combined_df['index_conf_high'] = combined_df['index_conf_high'].astype(float)

print("æ•°æ®å·²æˆåŠŸåˆå¹¶å¹¶è½¬æ¢å¥½æ•°æ®ç±»å‹ã€‚")

æ•°æ®å·²æˆåŠŸåˆå¹¶å¹¶è½¬æ¢å¥½æ•°æ®ç±»å‹ã€‚

### ç¬¬ 4 æ­¥ï¼šæ£€æŸ¥æœ€ç»ˆç»“æœ

æœ€åï¼Œæˆ‘ä»¬é€šè¿‡ä¸¤ä¸ªå‘½ä»¤æ¥éªŒè¯æ•°æ®æ˜¯å¦å·²æŒ‰é¢„æœŸå‡†å¤‡å°±ç»ªï¼š
1.  `combined_df.head()`ï¼šæ˜¾ç¤ºæœ€ç»ˆæ•°æ®é›†çš„å‰5è¡Œï¼Œç›´è§‚åœ°æ£€æŸ¥æ•°æ®å†…å®¹å’Œæ ¼å¼ã€‚
2.  `combined_df.info()`ï¼šæ˜¾ç¤ºæ•°æ®é›†çš„æ‘˜è¦ä¿¡æ¯ï¼ŒåŒ…æ‹¬æ€»è¡Œæ•°ã€åˆ—åã€éç©ºå€¼æ•°é‡å’Œæ¯åˆ—çš„æ•°æ®ç±»å‹ï¼Œç”¨äºç¡®è®¤ç»“æ„æ˜¯å¦æ­£ç¡®ã€‚

In [4]:
# å•å…ƒæ ¼ 4
# æ˜¾ç¤ºæœ€ç»ˆDataFrameçš„å‰5è¡Œï¼Œæ£€æŸ¥æ•°æ®æ˜¯å¦æ­£ç¡®
print("--- æœ€ç»ˆåˆå¹¶æ•°æ® (å‰5è¡Œ) ---")
combined_df.head()

--- æœ€ç»ˆåˆå¹¶æ•°æ® (å‰5è¡Œ) ---

   year     state  index_value  index_conf_low  index_conf_high
0  2000  National     1.000000        1.000000         1.000000
1  2001  National     0.894786        0.779023         1.014265
2  2002  National     0.833242        0.717140         0.965727
3  2003  National     0.852811        0.712254         1.026288
4  2004  National     0.799586        0.658812         0.968141

In [5]:
# å•å…ƒæ ¼ 5
# æ˜¾ç¤ºDataFrameçš„ç»“æ„ä¿¡æ¯ï¼ˆåˆ—åã€éç©ºå€¼æ•°é‡ã€æ•°æ®ç±»å‹ï¼‰
print("\n--- æœ€ç»ˆæ•°æ®ç»“æ„å’Œç±»å‹ ---")
combined_df.info()

--- æœ€ç»ˆæ•°æ®ç»“æ„å’Œç±»å‹ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             132 non-null    int32
 1   state            132 non-null    object
 2   index_value      132 non-null    float64
 3   index_conf_low   132 non-null    float64
 4   index_conf_high  132 non-null    float64
dtypes: float64(3), int32(1), object(1)
memory usage: 4.8+ KB

### ç¬¬ 5 æ­¥ï¼šå®‰è£…ã€è®¾ç½®å¹¶å‡†å¤‡å¤©æ°”æ•°æ®å‚æ•°

åœ¨è¿™ä¸€æ­¥ï¼Œæˆ‘ä»¬å°†é‡‡ç”¨æ›´ä¸“ä¸šã€æ›´å¯é çš„æ–¹æ³•æ¥è·å–æ•°æ®ï¼šä½¿ç”¨å®˜æ–¹çš„ `openmeteo-requests` Python å®¢æˆ·ç«¯ã€‚è¿™ä¸ªå•å…ƒæ ¼å°†å®Œæˆæ‰€æœ‰çš„æ•°æ®è·å–å‡†å¤‡å·¥ä½œã€‚

**1. é‡‡ç”¨å®˜æ–¹å®¢æˆ·ç«¯çš„åŸå› ï¼š**
-   **æ™ºèƒ½ç¼“å­˜ (Smart Caching)**ï¼šä¼šè‡ªåŠ¨å°†APIçš„å“åº”ç»“æœä¿å­˜åˆ°æœ¬åœ°ï¼Œåç»­å†æ¬¡è¿è¡Œæ—¶é€Ÿåº¦æå¿«ä¸”ä¸æ¶ˆè€—APIèµ„æºã€‚
-   **è‡ªåŠ¨é‡è¯• (Automatic Retries)**ï¼šå¦‚æœå› ç½‘ç»œæ³¢åŠ¨å¯¼è‡´è¯·æ±‚å¤±è´¥ï¼Œå®¢æˆ·ç«¯ä¼šè‡ªåŠ¨é‡æ–°å°è¯•ï¼Œå¤§å¤§å¢åŠ äº†ä»£ç çš„ç¨³å®šæ€§ã€‚

**2. æœ¬å•å…ƒæ ¼æ‰§è¡Œçš„å‡†å¤‡æµç¨‹ï¼š**
-   **å®‰è£…åº“**ï¼šç¡®ä¿ `openmeteo-requests` åŠå…¶ç›¸å…³ä¾èµ–å·²å®‰è£…ã€‚
-   **å®šä¹‰å‚æ•°**ï¼š
    -   **é¦–åºœåæ ‡**ï¼šåˆ›å»ºä¸€ä¸ªåŒ…å«å„å·é¦–åºœåŠå…¶ç»çº¬åº¦çš„å­—å…¸ã€‚
    -   **APIå‚æ•°**ï¼šå®šä¹‰éœ€è¦è·å–çš„å¤©æ°”å˜é‡ï¼ˆæ¸©åº¦ã€é™æ°´ã€è¾å°„ï¼‰å’Œç¡®å®šçš„æ—¶é—´èŒƒå›´ï¼ˆ2000-01-01 è‡³ 2024-12-31ï¼‰ã€‚
-   **è®¾ç½®å®¢æˆ·ç«¯**ï¼šåŸºäºä¸Šè¿°å‚æ•°ï¼Œåˆå§‹åŒ–ä¸€ä¸ªå¸¦æœ‰ç¼“å­˜å’Œé‡è¯•åŠŸèƒ½çš„ API å®¢æˆ·ç«¯ï¼Œä¸ºä¸‹ä¸€æ­¥çš„æ•°æ®è·å–åšå¥½å‡†å¤‡ã€‚

In [6]:
# 1. å®‰è£…æ‰€éœ€çš„åº“ (å¦‚æœå°šæœªå®‰è£…)
# å¦‚æœåœ¨Jupyterä¸­è¿è¡Œï¼Œå¯ä»¥åœ¨è¡Œé¦–åŠ ä¸Š ! ç¬¦å·æ¥æ‰§è¡Œpipå‘½ä»¤
# !pip install openmeteo-requests requests-cache retry-requests numpy pandas

import openmeteo_requests
import pandas as pd
import requests_cache
from retry_requests import retry

# 2. è®¾ç½®å¸¦æœ‰ç¼“å­˜å’Œé‡è¯•åŠŸèƒ½çš„ Open-Meteo API å®¢æˆ·ç«¯
cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

# 3. é‡æ–°å®šä¹‰æˆ‘ä»¬çš„å‚æ•°
# ä¸ºæ¯ä¸ªå·/é¢†åœ°å®šä¹‰é¦–åºœçš„ç»çº¬åº¦
capital_coords = {
    "Victoria": {"lat": -37.81, "lon": 144.96},
    "New South Wales": {"lat": -33.87, "lon": 151.21},
    "South Australia": {"lat": -34.93, "lon": 138.60},
    "Western Australia": {"lat": -31.95, "lon": 115.86},
    "Australian Capital Territory": {"lat": -35.28, "lon": 149.13},
}
start_date = "2000-01-01"
end_date = "2024-12-31"
base_url = "https://archive-api.open-meteo.com/v1/archive"

# APIå®¢æˆ·ç«¯è¦æ±‚å˜é‡æ˜¯ä¸€ä¸ªåˆ—è¡¨
daily_vars_list = ["precipitation_sum", "temperature_2m_mean", "shortwave_radiation_sum"]

print("âœ… å®˜æ–¹APIå®¢æˆ·ç«¯å·²æˆåŠŸè®¾ç½®ï¼")

âœ… å®˜æ–¹APIå®¢æˆ·ç«¯å·²æˆåŠŸè®¾ç½®ï¼

### ç¬¬ 6 æ­¥ï¼šä½¿ç”¨å®˜æ–¹å®¢æˆ·ç«¯è·å–å¹¶èšåˆå¤©æ°”æ•°æ®

ç°åœ¨ï¼Œæˆ‘ä»¬å°†ä½¿ç”¨ä¸Šä¸€æ­¥è®¾ç½®å¥½çš„ `openmeteo` å®¢æˆ·ç«¯æ¥å¾ªç¯è·å–æ¯ä¸ªå· **2000å¹´è‡³2024å¹´** çš„å…¨éƒ¨å¤©æ°”æ•°æ®ã€‚

æ­¤ä»£ç å—ä¼šæ‰§è¡Œä»¥ä¸‹æ ¸å¿ƒæ“ä½œï¼š
1.  éå†æ¯ä¸ªå·çš„é¦–åºœåæ ‡ã€‚
2.  ä½¿ç”¨å®˜æ–¹å®¢æˆ·ç«¯ä¸€æ¬¡æ€§è¯·æ±‚è¯¥å·25å¹´çš„å…¨éƒ¨æ—¥åº¦æ•°æ®ã€‚
3.  å°†è¿”å›çš„æ•°æ®é«˜æ•ˆåœ°è§£æä¸º Pandas DataFrameã€‚
4.  å°†æ—¥åº¦æ•°æ®æŒ‰å¹´ä»½è¿›è¡Œ**é‡é‡‡æ ·(resample)**å’Œ**èšåˆ(aggregate)**ï¼š
    -   æ¸©åº¦ (`temperature_2m_mean`)ï¼šæ±‚å¹´**å¹³å‡å€¼**ã€‚
    -   é™æ°´ (`precipitation_sum`)ï¼šæ±‚å¹´**æ€»å’Œ**ã€‚
    -   è¾å°„ (`shortwave_radiation_sum`)ï¼šæ±‚å¹´**æ€»å’Œ**ã€‚
5.  å°†å¤„ç†å¥½çš„å¹´åº¦æ•°æ®å­˜å…¥ä¸€ä¸ªåˆ—è¡¨ä¸­ï¼Œä¸ºä¸‹ä¸€æ­¥çš„åˆå¹¶åšå‡†å¤‡ã€‚

In [20]:
# åˆå§‹åŒ–ä¸€ä¸ªç©ºåˆ—è¡¨ï¼Œç”¨äºå­˜æ”¾æ¯ä¸ªå·å¤„ç†å¥½çš„å¹´åº¦å¤©æ°”æ•°æ®
annual_weather_data_list = []

print("ğŸš€ å¼€å§‹ä½¿ç”¨å®˜æ–¹å®¢æˆ·ç«¯è·å–å¹¶å¤„ç†å„å·å¤©æ°”æ•°æ®...")

# å¾ªç¯éå†æ¯ä¸€ä¸ªå·
for state, coords in capital_coords.items():
    print(f"\n--- æ­£åœ¨å¤„ç† [{state}] ---")
    
    params = {
        "latitude": coords["lat"],
        "longitude": coords["lon"],
        "start_date": start_date,
        "end_date": end_date,
        "daily": daily_vars_list,
        "timezone": "auto"
    }

    try:
        # ä½¿ç”¨å®˜æ–¹å®¢æˆ·ç«¯è°ƒç”¨API
        responses = openmeteo.weather_api(base_url, params=params)
        response = responses[0]

        # --- è§£æè¿”å›çš„æ•°æ® ---
        daily = response.Daily()
        
        daily_precipitation_sum = daily.Variables(0).ValuesAsNumpy()
        daily_temperature_2m_mean = daily.Variables(1).ValuesAsNumpy()
        daily_shortwave_radiation_sum = daily.Variables(2).ValuesAsNumpy()

        # --- ã€å…³é”®ä¿®æ­£ã€‘é‡‡ç”¨å®˜æ–¹çš„ pd.date_range() æ–¹æ³•åˆ›å»ºæ­£ç¡®çš„æ—¥æœŸç´¢å¼• ---
        daily_data = {"date": pd.date_range(
            start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
            end = pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
            freq = pd.Timedelta(seconds = daily.Interval()),
            inclusive = "left"
        )}
        # ----------------------------------------------------------------------

        daily_data["precipitation_sum"] = daily_precipitation_sum
        daily_data["temperature_2m_mean"] = daily_temperature_2m_mean
        daily_data["shortwave_radiation_sum"] = daily_shortwave_radiation_sum
        
        daily_df = pd.DataFrame(data=daily_data)
        daily_df.set_index('date', inplace=True)
        
        # --- å¹´åº¦èšåˆé€»è¾‘ (ä¿æŒä¸å˜) ---
        annual_agg_df = daily_df.resample('YE').agg({
            'temperature_2m_mean': 'mean',
            'precipitation_sum': 'sum',
            'shortwave_radiation_sum': 'sum'
        })
        
        annual_agg_df['state'] = state
        annual_weather_data_list.append(annual_agg_df)
        
        print(f"âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [{state}] çš„æ•°æ®ã€‚")

    except Exception as e:
        print(f"âŒ å¤„ç† [{state}] æ—¶å‘ç”Ÿé”™è¯¯: {e}")

print("\nğŸ‰ æ‰€æœ‰å·çš„æ•°æ®å¤„ç†å®Œæ¯•ã€‚")

ğŸš€ å¼€å§‹ä½¿ç”¨å®˜æ–¹å®¢æˆ·ç«¯è·å–å¹¶å¤„ç†å„å·å¤©æ°”æ•°æ®...

--- æ­£åœ¨å¤„ç† [Victoria] ---
âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [Victoria] çš„æ•°æ®ã€‚

--- æ­£åœ¨å¤„ç† [New South Wales] ---
âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [New South Wales] çš„æ•°æ®ã€‚

--- æ­£åœ¨å¤„ç† [South Australia] ---
âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [South Australia] çš„æ•°æ®ã€‚

--- æ­£åœ¨å¤„ç† [Western Australia] ---
âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [Western Australia] çš„æ•°æ®ã€‚

--- æ­£åœ¨å¤„ç† [Australian Capital Territory] ---
âœ… å·²æˆåŠŸè·å–å¹¶å¤„ç†å®Œ [Australian Capital Territory] çš„æ•°æ®ã€‚

ğŸ‰ æ‰€æœ‰å·çš„æ•°æ®å¤„ç†å®Œæ¯•ã€‚

### ç¬¬ 7 æ­¥ï¼šåˆå¹¶æ•°æ®å¹¶è®¡ç®—å…¨å›½å¹³å‡å€¼

ç°åœ¨ï¼Œæˆ‘ä»¬å°†ä¸Šä¸€æ­¥åˆ—è¡¨ä¸­æ‰€æœ‰å·çš„æ•°æ®åˆå¹¶æˆä¸€ä¸ªå¤§çš„DataFrameã€‚ç„¶åï¼Œé€šè¿‡å¯¹å¹´ä»½è¿›è¡Œåˆ†ç»„ï¼Œè®¡ç®—å‡ºæ‰€æœ‰å·çš„å¹³å‡å€¼ï¼Œä»¥æ­¤ä½œä¸ºâ€œNationalâ€çš„æ•°æ®ï¼Œå¹¶å°†å…¶è¿½åŠ åˆ°æœ€ç»ˆçš„DataFrameä¸­ã€‚

In [21]:
# åˆå¹¶æ‰€æœ‰å·çš„å¹´åº¦å¤©æ°”æ•°æ®
weather_df = pd.concat(annual_weather_data_list)

# æå–å¹´ä»½ä½œä¸ºæ™®é€šåˆ—
weather_df['year'] = weather_df.index.year
weather_df.reset_index(drop=True, inplace=True)

# è®¡ç®—å…¨å›½å¹´åº¦å¹³å‡å€¼
# æˆ‘ä»¬æŒ‰å¹´ä»½åˆ†ç»„ï¼Œå¹¶è®¡ç®—æ‰€æœ‰æ•°å€¼åˆ—çš„å¹³å‡å€¼
national_df = weather_df.groupby('year').mean(numeric_only=True).reset_index()
national_df['state'] = 'National'

# å°†å…¨å›½æ•°æ®è¿½åŠ åˆ°æ€»çš„DataFrameä¸­
weather_df = pd.concat([weather_df, national_df], ignore_index=True)

# é‡å‘½ååˆ—ä»¥æé«˜å¯è¯»æ€§
weather_df.rename(columns={
    'temperature_2m_mean': 'annual_mean_temp',
    'precipitation_sum': 'annual_precip_sum',
    'shortwave_radiation_sum': 'annual_radiation_sum'
}, inplace=True)

# è°ƒæ•´åˆ—é¡ºåº
weather_df = weather_df[['year', 'state', 'annual_mean_temp', 'annual_precip_sum', 'annual_radiation_sum']]

print("å·²ç”Ÿæˆæœ€ç»ˆçš„å¤©æ°”æ•°æ®é›†'weather_df'ã€‚")

å·²ç”Ÿæˆæœ€ç»ˆçš„å¤©æ°”æ•°æ®é›†'weather_df'ã€‚

### ç¬¬ 8 æ­¥ï¼šæ£€æŸ¥æœ€ç»ˆçš„å¤©æ°”æ•°æ®

æœ€åï¼Œæˆ‘ä»¬æ£€æŸ¥ä¸€ä¸‹ `weather_df` çš„å†…å®¹å’Œç»“æ„ï¼Œç¡®ä¿æ•°æ®å·²æŒ‰é¢„æœŸå‡†å¤‡å°±ç»ªã€‚

In [ ]:
weather_df[weather_df['state'] == "Australian Capital Territory"]

Empty DataFrame
Columns: [year, state, annual_mean_temp, annual_precip_sum, annual_radiation_sum]
Index: []

In [13]:
# æ˜¾ç¤ºå‰å‡ è¡Œï¼Œæ£€æŸ¥æ•°æ®æ ¼å¼
weather_df.head()

   year     state  annual_mean_temp  annual_precip_sum  annual_radiation_sum
0  1999  Victoria         14.716250           0.000000             24.590000
1  2000  Victoria         14.757990         615.799988           5848.040039
2  2001  Victoria         14.526712         564.200012           5662.220215
3  2002  Victoria         14.698013         432.399994           5789.760254
4  2003  Victoria         14.443562         571.000000           5895.100098

In [14]:
# æ˜¾ç¤ºåå‡ è¡Œï¼Œå¯ä»¥çœ‹åˆ°æˆ‘ä»¬è®¡ç®—å‡ºçš„'National'æ•°æ®
weather_df.tail()

     year     state  annual_mean_temp  annual_precip_sum  annual_radiation_sum
125  2020  National         16.554989         899.525024           6237.892578
126  2021  National         16.314037         849.174988           6297.140137
127  2022  National         16.460024        1122.150024           6253.627441
128  2023  National         16.750156         736.325012           6551.685059
129  2024  National         17.195477         731.349976           6567.745117

In [15]:
# æ£€æŸ¥æ•°æ®ç»“æ„å’Œç±»å‹
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  130 non-null    int32
 1   state                 130 non-null    object
 2   annual_mean_temp      130 non-null    float32
 3   annual_precip_sum     130 non-null    float32
 4   annual_radiation_sum  130 non-null    float32
dtypes: float32(3), int32(1), object(1)
memory usage: 3.2+ KB

### ç¬¬ 9 æ­¥ï¼šæ•°æ®æ¸…ç†ä¸æœ€ç»ˆç¡®è®¤

æ ¹æ®ä¹‹å‰çš„åˆ†æï¼Œæˆ‘ä»¬éœ€è¦æ‰§è¡Œæœ€åä¸¤é¡¹æ¸…ç†å·¥ä½œï¼š
1.  **é‡æ–°è·å–ç¼ºå¤±æ•°æ®**ï¼šç”±äºAPIé€Ÿç‡é™åˆ¶ï¼Œ`Australian Capital Territory` çš„æ•°æ®æœªèƒ½è·å–ã€‚æˆ‘ä»¬å°†é‡æ–°è¿è¡Œç¬¬6æ­¥å’Œç¬¬7æ­¥æ¥è¡¥å…¨è¿™éƒ¨åˆ†æ•°æ®ã€‚
2.  **å‰”é™¤å¼‚å¸¸å¹´ä»½**ï¼šæ•°æ®ä¸­å‡ºç°äº†ä¸€æ¡é”™è¯¯çš„1999å¹´è®°å½•ï¼Œæˆ‘ä»¬éœ€è¦å°†å…¶è¿‡æ»¤æ‰ã€‚

å®Œæˆè¿™äº›æ­¥éª¤åï¼Œ`weather_df` å°†æ˜¯ä¸€ä¸ªå¹²å‡€ã€å®Œæ•´çš„æ•°æ®é›†ã€‚

In [22]:
# æ¸…ç†æ­¥éª¤ 1ï¼šè¿‡æ»¤æ‰é”™è¯¯çš„1999å¹´æ•°æ®
# æˆ‘ä»¬åªä¿ç•™å¹´ä»½å¤§äºç­‰äº2000çš„è®°å½•
original_rows = len(weather_df)
weather_df = weather_df[weather_df['year'] >= 2000].copy()

print(f"å·²è¿‡æ»¤æ‰å¹´ä»½ä¸º1999çš„æ•°æ®ã€‚è¡Œæ•°ä» {original_rows} å˜ä¸º {len(weather_df)}ã€‚")

# æ¸…ç†æ­¥éª¤ 2ï¼šæ£€æŸ¥æ˜¯å¦æ‰€æœ‰å·çš„æ•°æ®éƒ½å·²å®Œæ•´
# æ­£å¸¸æƒ…å†µä¸‹åº”è¯¥æœ‰6ä¸ªåœ°åŒº (5ä¸ªå·/é¢†åœ° + 1ä¸ªNational)
if len(weather_df['state'].unique()) < 6:
    print("\næ£€æµ‹åˆ°æœ‰å·çš„æ•°æ®ç¼ºå¤±ï¼ˆå¯èƒ½ç”±äºAPIé™åˆ¶ï¼‰ï¼Œå»ºè®®æ‚¨è¿”å›å¹¶é‡æ–°è¿è¡Œç¬¬6æ­¥å’Œç¬¬7æ­¥ã€‚")
    print("ç”±äºç¼“å­˜æœºåˆ¶ï¼Œé‡æ–°è¿è¡Œåªä¼šè¯·æ±‚ä¹‹å‰å¤±è´¥çš„éƒ¨åˆ†ï¼Œé€Ÿåº¦ä¼šå¾ˆå¿«ã€‚")
else:
    print("\nâœ… æ‰€æœ‰å·/åœ°åŒºçš„æ•°æ®å‡å·²å®Œæ•´ã€‚")

# æœ€ç»ˆç¡®è®¤
print("\n--- æ¸…ç†åçš„æœ€ç»ˆæ•°æ®æ¦‚è§ˆ ---")
weather_df.info()

print("\n--- æ•°æ®å¹´ä»½èŒƒå›´ ---")
print(f"ä» {weather_df['year'].min()} å¹´åˆ° {weather_df['year'].max()} å¹´")

å·²è¿‡æ»¤æ‰å¹´ä»½ä¸º1999çš„æ•°æ®ã€‚è¡Œæ•°ä» 156 å˜ä¸º 150ã€‚

âœ… æ‰€æœ‰å·/åœ°åŒºçš„æ•°æ®å‡å·²å®Œæ•´ã€‚

--- æ¸…ç†åçš„æœ€ç»ˆæ•°æ®æ¦‚è§ˆ ---
<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 155
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  150 non-null    int32
 1   state                 150 non-null    object
 2   annual_mean_temp      150 non-null    float32
 3   annual_precip_sum     150 non-null    float32
 4   annual_radiation_sum  150 non-null    float32
dtypes: float32(3), int32(1), object(1)
memory usage: 4.7+ KB

--- æ•°æ®å¹´ä»½èŒƒå›´ ---
ä» 2000 å¹´åˆ° 2024 å¹´

### ç¬¬ 10 æ­¥ï¼šåˆå¹¶ä¸»æ•°æ®ä¸å¤©æ°”æ•°æ®

ç°åœ¨ï¼Œæˆ‘ä»¬å°† `combined_df` (ä¸»æ•°æ®, 2000-2021) å’Œ `weather_df` (å¤©æ°”æ•°æ®, 2000-2024) åˆå¹¶æˆä¸€ä¸ªæœ€ç»ˆçš„æ•°æ®é›† `final_df`ã€‚

æˆ‘ä»¬å°†ä½¿ç”¨**å³åˆå¹¶ (Right Merge)**ï¼Œä»¥å¤©æ°”æ•°æ®ä¸ºåŸºå‡†ï¼Œä¿ç•™æ‰€æœ‰å¹´ä»½çš„è®°å½•ã€‚è¿™æ ·ï¼Œåœ¨2022-2024å¹´è¿™äº›åªæœ‰å¤©æ°”æ•°æ®çš„å¹´ä»½é‡Œï¼Œä¸»æ•°æ®ç›¸å…³çš„åˆ—ï¼ˆå¦‚ `index_value`ï¼‰å°†è‡ªåŠ¨å¡«å……ä¸º `NaN`ã€‚

In [24]:
# ä½¿ç”¨ 'year' å’Œ 'state' ä½œä¸ºå…±åŒçš„é”®è¿›è¡Œå³åˆå¹¶
final_df = pd.merge(combined_df, weather_df, on=['year', 'state'], how='right')

# æ£€æŸ¥åˆå¹¶åæ•°æ®é›†çš„å¤´éƒ¨ (åº”è¯¥æ˜¾ç¤º2000-2001å¹´çš„å®Œæ•´æ•°æ®)
print("--- åˆå¹¶åæ•°æ® (å¤´éƒ¨) ---")
display(final_df.head())

# æ£€æŸ¥åˆå¹¶åæ•°æ®é›†çš„å°¾éƒ¨ (åº”è¯¥æ˜¾ç¤º2024å¹´æ•°æ®ï¼Œä¸” index_value ä¸º NaN)
print("\n--- åˆå¹¶åæ•°æ® (å°¾éƒ¨) ---")
display(final_df.tail())

--- åˆå¹¶åæ•°æ® (å¤´éƒ¨) ---

,year,state,index_value,index_conf_low,index_conf_high,annual_mean_temp,annual_precip_sum,annual_radiation_sum
0,2000,Victoria,1.000000,1.000000,1.000000,14.757990,615.799988,5848.040039
1,2001,Victoria,0.851265,0.753910,0.954160,14.526712,564.200012,5662.220215
2,2002,Victoria,0.738937,0.623807,0.873159,14.698013,432.399994,5789.760254
3,2003,Victoria,0.728083,0.578651,0.924713,14.443562,571.000000,5895.100098
4,2004,Victoria,0.647233,0.500643,0.853355,14.277344,621.200012,5806.970215

--- åˆå¹¶åæ•°æ® (å°¾éƒ¨) ---

,year,state,index_value,index_conf_low,index_conf_high,annual_mean_temp,annual_precip_sum,annual_radiation_sum
145,2020,National,0.305946,0.202542,0.489085,15.825681,890.140015,6209.967773
146,2021,National,0.331837,0.196334,0.582872,15.465296,883.320007,6234.124023
147,2022,National,NaN,NaN,NaN,15.654364,1109.099976,6152.215820
148,2023,National,NaN,NaN,NaN,16.014750,711.420044,6518.726074
149,2024,National,NaN,NaN,NaN,16.470160,703.160034,6553.233887

### ç¬¬ 11 æ­¥ï¼šå­˜å‚¨æœ€ç»ˆåˆå¹¶çš„æ•°æ®

æˆ‘ä»¬å·²ç»æˆåŠŸåœ°å°†åŸå§‹çš„ç‰©ç§æŒ‡æ•°æ•°æ®ä¸é€šè¿‡APIè·å–çš„å¤©æ°”æ•°æ®è¿›è¡Œäº†æ¸…ç†ã€èšåˆä¸åˆå¹¶ã€‚

æœ€åä¸€æ­¥ï¼Œæˆ‘ä»¬å°†è¿™ä¸ªåŒ…å«äº†2000-2024å¹´å®Œæ•´è®°å½•çš„ `final_df` DataFrame ä¿å­˜ä¸ºä¸€ä¸ªCSVæ–‡ä»¶ã€‚è¿™ä¸ªæ–‡ä»¶å°†ä½œä¸ºæˆ‘ä»¬ä¸‹ä¸€ä¸ªåˆ†æé˜¶æ®µï¼ˆSARIMAX é¢„æµ‹æ¨¡å‹ï¼‰çš„è¾“å…¥æ•°æ®ã€‚

ä»£ç ä¼šè‡ªåŠ¨æ£€æŸ¥å¹¶åˆ›å»ºæ‰€éœ€çš„å­æ–‡ä»¶å¤¹ (`01_data_wrangling/02_wrangled_data`)ã€‚

In [26]:
import os

# å®šä¹‰è¾“å‡ºæ–‡ä»¶å¤¹å’Œæ–‡ä»¶å
output_folder = os.path.join('02_wrangled_data')
output_filename = 'Table14_TSX_Table_VIC_version3.csv'
full_filepath = os.path.join(output_folder, output_filename)

# ç¡®ä¿è¾“å‡ºæ–‡ä»¶å¤¹å­˜åœ¨ï¼Œå¦‚æœä¸å­˜åœ¨åˆ™åˆ›å»º
os.makedirs(output_folder, exist_ok=True)

# å°† final_df ä¿å­˜ä¸º CSV æ–‡ä»¶
# index=False å‚æ•°å¯ä»¥é˜²æ­¢ pandas å°† DataFrame çš„ç´¢å¼•å†™å…¥æ–‡ä»¶ï¼Œä¿æŒæ•°æ®æ•´æ´
final_df.to_csv(full_filepath, index=False)

print(f"ğŸ‰ æ•°æ®å·²æˆåŠŸä¿å­˜è‡³: {full_filepath}")

ğŸ‰ æ•°æ®å·²æˆåŠŸä¿å­˜è‡³: 02_wrangled_data\Table14_TSX_Table_VIC_version3.csv