
# Australian Threatened Plants (TSX): Data Wrangling and MySQL Ingestion

Name: Zihan

### Step 1: æå–ã€è½¬æ¢ç‰©ç§åŠä½ç½®å…ƒæ•°æ®

æ­¤æ­¥éª¤çš„ä»£ç å°†æ‰§è¡Œä»¥ä¸‹æ“ä½œï¼š
1.  ä½¿ç”¨ `pandas` åº“è¯»å–åŸå§‹çš„èšåˆæ•°æ®é›† `06_tsx-aggregated-data-dataset_for_aus_plants.csv`ã€‚
2.  æ ¹æ®æŒ‡å®šçš„åˆ—ååˆ—è¡¨ï¼Œé€‰æ‹©ä¸ç‰©ç§åˆ†ç±»ã€ä¿æŠ¤çŠ¶æ€å’Œåœ°ç†ä½ç½®ç›¸å…³çš„å…³é”®åˆ—ã€‚
3.  å°† `NationalPriorityTaxa` åˆ—ä¸­çš„æ•°å€¼ (1 å’Œ 0) è½¬æ¢æˆæ›´æ˜“è¯»çš„æ–‡æœ¬ ('Yes' å’Œ 'No')ã€‚
4.  å°†æå–å¹¶å¤„ç†åçš„å­é›†æ•°æ®ä¿å­˜åˆ° `02_wrangled_data` ç›®å½•ä¸‹ä¸€ä¸ªæ–°çš„CSVæ–‡ä»¶ `Table16_TSX_SpeciesMonitoringTable.csv` ä¸­ã€‚

In [3]:
import pandas as pd
import os

# --- 1. å®šä¹‰æ–‡ä»¶è·¯å¾„ ---
# åŸå§‹æ•°æ®æ–‡ä»¶è·¯å¾„
source_file_path = '01_raw_data/06_tsx-aggregated-data-dataset_for_aus_plants.csv'

# è¾“å‡ºæ–‡ä»¶è·¯å¾„
output_file_path = '02_wrangled_data/Table16_TSX_SpeciesMonitoringTable.csv'

# --- 2. å®šä¹‰éœ€è¦æå–çš„åˆ—ååˆ—è¡¨ ---
# æ³¨æ„ï¼šåŸå§‹æ–‡ä»¶ä¸­çš„ 'ID' æ˜¯å¤§å†™çš„ï¼Œè¿™é‡Œä¿æŒä¸€è‡´
columns_to_extract = [
    'ID',
    'Binomial',
    'CommonName',
    'FamilyCommonName',
    'Class',
    'Order',
    'Family',
    'Genus',
    'Species',
    'Subspecies',
    'FunctionalGroup',
    'EPBCStatus',
    'IUCNStatus',
    'MaxStatus',
    'NationalPriorityTaxa',
    'State',
    'Region',
    'RegionCentroidLatitude',
    'RegionCentroidLongitude'
]

# --- 3. ç¡®ä¿è¾“å‡ºç›®å½•å­˜åœ¨ ---
# è·å–è¾“å‡ºæ–‡ä»¶æ‰€åœ¨çš„ç›®å½•
output_dir = os.path.dirname(output_file_path)
# å¦‚æœç›®å½•ä¸å­˜åœ¨ï¼Œåˆ™åˆ›å»ºå®ƒ
os.makedirs(output_dir, exist_ok=True)

# --- 4. æ‰§è¡Œæ•°æ®æå–ã€è½¬æ¢å’Œä¿å­˜ ---
try:
    # è¯»å–åŸå§‹CSVæ–‡ä»¶
    print(f"æ­£åœ¨è¯»å–åŸå§‹æ–‡ä»¶: {source_file_path}")
    df_raw = pd.read_csv(source_file_path)
    
    # ä»DataFrameä¸­é€‰æ‹©æŒ‡å®šçš„åˆ—
    df_subset = df_raw[columns_to_extract].copy() # ä½¿ç”¨ .copy() é¿å… SettingWithCopyWarning
    
    # *** æ–°å¢æ­¥éª¤ï¼šè½¬æ¢ 'NationalPriorityTaxa' åˆ— ***
    # åˆ›å»ºä¸€ä¸ªæ˜ å°„å­—å…¸
    mapping = {1: 'Yes', 0: 'No'}
    # åº”ç”¨æ˜ å°„
    df_subset['NationalPriorityTaxa'] = df_subset['NationalPriorityTaxa'].map(mapping)
    print("å·²å°† 'NationalPriorityTaxa' åˆ—ä» 1/0 è½¬æ¢ä¸º Yes/Noã€‚")
    
    # å°†æå–å‡ºçš„æ•°æ®ä¿å­˜åˆ°æ–°çš„CSVæ–‡ä»¶ï¼Œä¸åŒ…å«ç´¢å¼•åˆ—
    df_subset.to_csv(output_file_path, index=False)
    
    print("-" * 50)
    print(f"æˆåŠŸæå–å¹¶è½¬æ¢æ•°æ®ï¼")
    print(f"æ–°çš„æ–‡ä»¶å·²ä¿å­˜è‡³: {output_file_path}")
    print(f"æ–°æ–‡ä»¶åŒ…å« {df_subset.shape[0]} è¡Œ å’Œ {df_subset.shape[1]} åˆ—ã€‚")
    print("-" * 50)
    # æ˜¾ç¤ºè½¬æ¢ååˆ—çš„å‰å‡ è¡Œä»¥ä¾›éªŒè¯
    print("è½¬æ¢å 'NationalPriorityTaxa' åˆ—çš„é¢„è§ˆ:")
    print(df_subset['NationalPriorityTaxa'].head())


except FileNotFoundError:
    print(f"é”™è¯¯ï¼šæ‰¾ä¸åˆ°åŸå§‹æ–‡ä»¶ã€‚è¯·ç¡®è®¤æ–‡ä»¶è·¯å¾„æ˜¯å¦æ­£ç¡®: {source_file_path}")
except KeyError as e:
    print(f"é”™è¯¯ï¼šåŸå§‹æ–‡ä»¶ä¸­ç¼ºå°‘ä¸€ä¸ªæˆ–å¤šä¸ªæŒ‡å®šçš„åˆ—ã€‚ç¼ºå¤±çš„åˆ—: {e}")
except Exception as e:
    print(f"å‘ç”Ÿäº†æœªçŸ¥é”™è¯¯: {e}")

æ­£åœ¨è¯»å–åŸå§‹æ–‡ä»¶: 01_raw_data/06_tsx-aggregated-data-dataset_for_aus_plants.csv
å·²å°† 'NationalPriorityTaxa' åˆ—ä» 1/0 è½¬æ¢ä¸º Yes/Noã€‚
--------------------------------------------------
æˆåŠŸæå–å¹¶è½¬æ¢æ•°æ®ï¼
æ–°çš„æ–‡ä»¶å·²ä¿å­˜è‡³: 02_wrangled_data/Table16_TSX_SpeciesMonitoringTable.csv
æ–°æ–‡ä»¶åŒ…å« 937 è¡Œ å’Œ 19 åˆ—ã€‚
--------------------------------------------------
è½¬æ¢å 'NationalPriorityTaxa' åˆ—çš„é¢„è§ˆ:
0    No
1    No
2    No
3    No
4    No
Name: NationalPriorityTaxa, dtype: object

### Step 1 - åŠ è½½å·²å¤„ç†å¥½çš„æ•°æ®è¿›è¡Œæ£€æŸ¥
è¿™ä¸ªæ­¥éª¤å°†åŠ è½½æˆ‘ä»¬ä¸Šä¸€æ­¥éª¤ä¸­å·²ç»æ¸…æ´—å’Œè½¬æ¢å¥½çš„CSVæ–‡ä»¶ï¼Œå¹¶å¯¹å…¶è¿›è¡Œå¿«é€Ÿé¢„è§ˆï¼Œä»¥ç¡®ä¿æ•°æ®åœ¨ä¸Šä¼ å‰æ˜¯æ­£ç¡®çš„ã€‚

In [1]:
import pandas as pd

# å®šä¹‰æˆ‘ä»¬å·²ç»å¤„ç†å¥½çš„æ•°æ®æ–‡ä»¶è·¯å¾„
wrangled_file_path = '02_wrangled_data/Table16_TSX_SpeciesMonitoringTable.csv'

# è¯»å–æ•°æ®åˆ°DataFrame
try:
    df = pd.read_csv(wrangled_file_path)
    print("âœ… å·²å¤„ç†çš„CSVæ–‡ä»¶åŠ è½½æˆåŠŸï¼")
    print("\n" + "="*50 + "\n")
    
    print("æ•°æ®ä¿¡æ¯æ¦‚è§ˆï¼š")
    df.info()
    
    print("\næ•°æ®é¢„è§ˆï¼ˆå‰5è¡Œï¼‰ï¼š")
    print(df.head())

except FileNotFoundError:
    print(f"âŒ é”™è¯¯ï¼šæ–‡ä»¶æœªæ‰¾åˆ°ï¼Œè¯·æ£€æŸ¥è·¯å¾„ '{wrangled_file_path}' æ˜¯å¦æ­£ç¡®ã€‚")
except Exception as e:
    print(f"âŒ å¤„ç†è¿‡ç¨‹ä¸­å‘ç”Ÿé”™è¯¯: {e}")

âœ… å·²å¤„ç†çš„CSVæ–‡ä»¶åŠ è½½æˆåŠŸï¼

==================================================

æ•°æ®ä¿¡æ¯æ¦‚è§ˆï¼š
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       937 non-null    int64
 1   Binomial                 937 non-null    object
 2   CommonName               850 non-null    object
 3   FamilyCommonName         0 non-null      float64
 4   Class                    0 non-null      float64
 5   Order                    937 non-null    object
 6   Family                   937 non-null    object
 7   Genus                    937 non-null    object
 8   Species                  937 non-null    object
 9   Subspecies               76 non-null     object
 10  FunctionalGroup          937 non-null    object
 11  EPBCStatus               932 non-null    object
 12  IUCNStatus               149 non-null    object
 13  MaxStatus                937 non-null    object
 14  NationalPriorityTaxa     937 non-null    object
 15  State                    937 non-null    object
 16  Region                   937 non-null    object
 17  RegionCentroidLatitude   937 non-null    float64
 18  RegionCentroidLongitude  937 non-null    float64
dtypes: float64(4), int64(1), object(14)
memory usage: 139.2+ KB

æ•°æ®é¢„è§ˆï¼ˆå‰5è¡Œï¼‰ï¼š
     ID                                 Binomial CommonName  FamilyCommonName  \
0  4714  Banksia_ionthocarpa_subsp_chrysophoenix        NaN               NaN
1  4715  Banksia_ionthocarpa_subsp_chrysophoenix        NaN               NaN
2  4716  Banksia_ionthocarpa_subsp_chrysophoenix        NaN               NaN
3  4717  Banksia_ionthocarpa_subsp_chrysophoenix        NaN               NaN
4  4718    Banksia_ionthocarpa_subsp_ionthocarpa        NaN               NaN

   Class      Order      Family    Genus      Species            Subspecies  \
0    NaN  Proteales  Proteaceae  Banksia  ionthocarpa  subsp. chrysophoenix
1    NaN  Proteales  Proteaceae  Banksia  ionthocarpa  subsp. chrysophoenix
2    NaN  Proteales  Proteaceae  Banksia  ionthocarpa  subsp. chrysophoenix
3    NaN  Proteales  Proteaceae  Banksia  ionthocarpa  subsp. chrysophoenix
4    NaN  Proteales  Proteaceae  Banksia  ionthocarpa    subsp. ionthocarpa

  FunctionalGroup  EPBCStatus  IUCNStatus   MaxStatus NationalPriorityTaxa  \
0           Shrub  Endangered  Endangered  Endangered                   No
1           Shrub  Endangered  Endangered  Endangered                   No
2           Shrub  Endangered  Endangered  Endangered                   No
3           Shrub  Endangered  Endangered  Endangered                   No
4           Shrub  Endangered  Endangered  Endangered                   No

               State      Region  RegionCentroidLatitude  \
0  Western Australia   Katanning              -32.413329
1  Western Australia   Katanning              -32.413329
2  Western Australia   Katanning              -32.413329
3  Western Australia   Katanning              -32.413329
4  Western Australia  Fitzgerald              -34.230741

   RegionCentroidLongitude
0               117.179276
1               117.179276
2               117.179276
3               117.179276
4               119.150439

### Step 2 - ä¸º `Table16_TSX_SpeciesMonitoringTable` åˆ›å»ºæ•°æ®åº“è¡¨ç»“æ„
æ­¤æ­¥éª¤å°†è¿æ¥åˆ°æ‚¨çš„MySQLæ•°æ®åº“ï¼Œåˆ é™¤ä»»ä½•å¯èƒ½å­˜åœ¨çš„æ—§è¡¨ï¼Œç„¶åæ ¹æ®æ‚¨æŒ‡å®šçš„åˆ—å’Œæ•°æ®ç±»å‹åˆ›å»ºä¸€ä¸ªæ–°çš„ã€ç»“æ„æ­£ç¡®çš„è¡¨ã€‚

In [2]:
import mysql.connector
from mysql.connector import Error

# æ•°æ®åº“è¿æ¥é…ç½® (ä¸æ‚¨æä¾›çš„ä¸€è‡´)
db_config = {
    'host': 'database-plantx.cqz06uycysiz.us-east-1.rds.amazonaws.com',
    'user': 'zihan',
    'password': '2002317Yzh12138.',
    'database': 'FIT5120_PlantX_Database',
    'allow_local_infile': True,
    'use_pure': True,
    'charset': 'utf8mb4'
}

# --- ä»»åŠ¡ï¼šåˆ›å»ºè¡¨ç»“æ„ ---
print("--- [ä»»åŠ¡ 1/4] æ­£åœ¨åˆ›å»ºè¡¨ 'Table16_TSX_SpeciesMonitoringTable'... ---")
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨")
        cursor = connection.cursor()

        table_name = "Table16_TSX_SpeciesMonitoringTable"
        print(f"æ­£åœ¨åˆ é™¤æ—§è¡¨ '{table_name}' (å¦‚æœå­˜åœ¨)...")
        cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
        print("æ—§è¡¨å·²åˆ é™¤ã€‚")

        # æ ¹æ®æ‚¨æä¾›çš„æ•°æ®ç±»å‹åˆ›å»ºè¡¨çš„SQLè¯­å¥
        create_table_16 = f"""
        CREATE TABLE {table_name} (
            ID INT PRIMARY KEY,
            Binomial TEXT,
            CommonName TEXT,
            FamilyCommonName TEXT,
            `Class` TEXT,
            `Order` TEXT,
            Family TEXT,
            Genus TEXT,
            Species TEXT,
            Subspecies TEXT,
            FunctionalGroup TEXT,
            EPBCStatus TEXT,
            IUCNStatus TEXT,
            MaxStatus TEXT,
            NationalPriorityTaxa TEXT,
            State TEXT,
            Region TEXT,
            RegionCentroidLatitude DOUBLE,
            RegionCentroidLongitude DOUBLE,
            -- æ·»åŠ ç©ºé—´æ•°æ®åˆ—ï¼Œå¹¶è®¾ç½®ä¸´æ—¶é»˜è®¤å€¼ä»¥æ”¯æŒLOAD DATA
            coords POINT NOT NULL DEFAULT (POINT(0,0)),
            SPATIAL INDEX(coords)
        ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
        """
        # æ³¨æ„: `Class` å’Œ `Order` æ˜¯SQLçš„ä¿ç•™å…³é”®å­—ï¼Œæ‰€ä»¥ç”¨åå¼•å· `` å°†å®ƒä»¬æ‹¬èµ·æ¥
        
        cursor.execute(create_table_16)
        connection.commit()
        print(f"âœ… è¡¨ '{table_name}' çš„ç»“æ„åˆ›å»ºæˆåŠŸã€‚")

except Error as e:
    print(f"âŒ åˆ›å»ºè¡¨ç»“æ„æ—¶å‘ç”Ÿé”™è¯¯: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("ğŸ”Œ å·²å…³é—­ç”¨äºåˆ›å»ºè¡¨ç»“æ„çš„MySQLè¿æ¥ã€‚\n")

--- [ä»»åŠ¡ 1/4] æ­£åœ¨åˆ›å»ºè¡¨ 'Table16_TSX_SpeciesMonitoringTable'... ---
âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨
æ­£åœ¨åˆ é™¤æ—§è¡¨ 'Table16_TSX_SpeciesMonitoringTable' (å¦‚æœå­˜åœ¨)...
æ—§è¡¨å·²åˆ é™¤ã€‚
âœ… è¡¨ 'Table16_TSX_SpeciesMonitoringTable' çš„ç»“æ„åˆ›å»ºæˆåŠŸã€‚
ğŸ”Œ å·²å…³é—­ç”¨äºåˆ›å»ºè¡¨ç»“æ„çš„MySQLè¿æ¥ã€‚

### Step 3 - å°†æ•°æ®å¯¼å…¥ `Table16_TSX_SpeciesMonitoringTable`
ä½¿ç”¨ `LOAD DATA LOCAL INFILE` å°†CSVæ–‡ä»¶ä¸­çš„æ•°æ®é«˜æ•ˆåœ°æ‰¹é‡å¯¼å…¥åˆ°åˆšåˆšåˆ›å»ºçš„æ•°æ®åº“è¡¨ä¸­ã€‚

In [3]:
try:
    # é‡æ–°å»ºç«‹è¿æ¥ä»¥å¯¼å…¥æ•°æ®
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡å¯¼å…¥Table16æ•°æ®ã€‚")
        cursor = connection.cursor()
        
        table_name = "Table16_TSX_SpeciesMonitoringTable"
        csv_path = '02_wrangled_data/Table16_TSX_SpeciesMonitoringTable.csv'

        # å®šä¹‰åŠ è½½æ•°æ®çš„æŸ¥è¯¢
        load_data_query_16 = f"""
        LOAD DATA LOCAL INFILE '{csv_path}'
        INTO TABLE {table_name}
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        LINES TERMINATED BY '\\r\\n'
        IGNORE 1 LINES
        (
            ID, Binomial, CommonName, FamilyCommonName, `Class`, `Order`, Family,
            Genus, Species, Subspecies, FunctionalGroup, EPBCStatus, IUCNStatus,
            MaxStatus, NationalPriorityTaxa, State, Region,
            RegionCentroidLatitude, RegionCentroidLongitude
        );
        """

        cursor.execute(load_data_query_16)
        connection.commit()
        print(f"âœ… Table16æ•°æ®å¯¼å…¥æˆåŠŸï¼å½±å“è¡Œæ•°: {cursor.rowcount}ã€‚")

except Error as e:
    print(f"âŒ Table16æ•°æ®å¯¼å…¥æ—¶å‘ç”Ÿé”™è¯¯: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("ğŸ”Œ å·²å…³é—­ç”¨äºå¯¼å…¥Table16æ•°æ®çš„MySQLè¿æ¥ã€‚")

âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡å¯¼å…¥Table16æ•°æ®ã€‚
âœ… Table16æ•°æ®å¯¼å…¥æˆåŠŸï¼å½±å“è¡Œæ•°: 937ã€‚
ğŸ”Œ å·²å…³é—­ç”¨äºå¯¼å…¥Table16æ•°æ®çš„MySQLè¿æ¥ã€‚

### Step 4 - å¡«å……ç©ºé—´æ•°æ®åˆ— (coords)
æ­¤æ­¥éª¤å°†ä½¿ç”¨å·²å¯¼å…¥çš„ç»çº¬åº¦æ•°æ®æ¥å¡«å…… `coords` ç©ºé—´åˆ—ã€‚

In [4]:
try:
    # é‡æ–°å»ºç«‹è¿æ¥ä»¥æ›´æ–°ç©ºé—´åˆ—
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡æ›´æ–°ç©ºé—´åˆ—ã€‚")
        cursor = connection.cursor()

        table_name = "Table16_TSX_SpeciesMonitoringTable"
        
        # SQLè¯­å¥ï¼šä»ç»çº¬åº¦å¡«å…… 'coords' åˆ— (POINTå‡½æ•°ä½¿ç”¨ ç»åº¦, çº¬åº¦ çš„é¡ºåº)
        update_spatial_column = f"""
        UPDATE {table_name}
        SET coords = POINT(RegionCentroidLongitude, RegionCentroidLatitude)
        WHERE RegionCentroidLongitude IS NOT NULL AND RegionCentroidLatitude IS NOT NULL;
        """

        cursor.execute(update_spatial_column)
        connection.commit()
        print(f"âœ… ç©ºé—´åˆ— 'coords' å¡«å……æˆåŠŸï¼æ›´æ–°è¡Œæ•°: {cursor.rowcount}ã€‚")

except Error as e:
    print(f"âŒ æ›´æ–°ç©ºé—´åˆ—æ—¶å‘ç”Ÿé”™è¯¯: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("ğŸ”Œ å·²å…³é—­ç”¨äºæ›´æ–°ç©ºé—´åˆ—çš„MySQLè¿æ¥ã€‚")

âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡æ›´æ–°ç©ºé—´åˆ—ã€‚
âœ… ç©ºé—´åˆ— 'coords' å¡«å……æˆåŠŸï¼æ›´æ–°è¡Œæ•°: 937ã€‚
ğŸ”Œ å·²å…³é—­ç”¨äºæ›´æ–°ç©ºé—´åˆ—çš„MySQLè¿æ¥ã€‚

### Step 5 - éªŒè¯å¯¼å…¥çš„æ•°æ®
æœ€åï¼Œæˆ‘ä»¬è¿æ¥æ•°æ®åº“æŸ¥è¯¢æ€»è¡Œæ•°ï¼Œå¹¶é¢„è§ˆå‰å‡ è¡Œæ•°æ®ï¼Œç¡®ä¿æ‰€æœ‰å†…å®¹éƒ½å·²æ­£ç¡®å¯¼å…¥ï¼Œç‰¹åˆ«æ˜¯ `coords` åˆ—ã€‚

In [5]:
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("\nâœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡éªŒè¯Table16æ•°æ®ã€‚")
        cursor = connection.cursor()
        
        table_name = "Table16_TSX_SpeciesMonitoringTable"

        # è·å–è¡¨ä¸­çš„æ€»è¡Œæ•°
        cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
        row_count = cursor.fetchone()[0]
        print(f"ğŸ“Š è¡¨ '{table_name}' å½“å‰åŒ…å« {row_count} è¡Œã€‚")

        # è·å–å¹¶æ‰“å°å‰5è¡Œä»¥ä¾›é¢„è§ˆ
        print(f"\n--- '{table_name}' è¡¨å‰5è¡Œæ•°æ®é¢„è§ˆ ---")
        # ä½¿ç”¨ ST_AsText() ä»¥å¯è¯»æ ¼å¼æ˜¾ç¤ºPOINTæ•°æ®
        query = f"""
        SELECT ID, Binomial, Region, 
               RegionCentroidLatitude, RegionCentroidLongitude, ST_AsText(coords) 
        FROM {table_name} 
        LIMIT 5
        """
        cursor.execute(query)
        rows = cursor.fetchall()
        
        # æ‰“å°è¡¨å¤´
        print(f"{'ID':<6} | {'Binomial':<45} | {'Region':<20} | {'coords'}")
        print("-" * 100)
        for row in rows:
            # æ ¼å¼åŒ–è¾“å‡º (ID, Binomial, Region, ST_AsText(coords))
            print(f"{row[0]:<6} | {row[1]:<45} | {row[2]:<20} | {row[5]}")

except Error as e:
    print(f"âŒ éªŒè¯Table16æ•°æ®æ—¶å‘ç”Ÿé”™è¯¯: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("\nğŸ”Œ å·²å…³é—­ç”¨äºéªŒè¯Table16æ•°æ®çš„MySQLè¿æ¥ã€‚")

âœ… æˆåŠŸè¿æ¥åˆ°MySQLæœåŠ¡å™¨ï¼Œå‡†å¤‡éªŒè¯Table16æ•°æ®ã€‚
ğŸ“Š è¡¨ 'Table16_TSX_SpeciesMonitoringTable' å½“å‰åŒ…å« 937 è¡Œã€‚

--- 'Table16_TSX_SpeciesMonitoringTable' è¡¨å‰5è¡Œæ•°æ®é¢„è§ˆ ---
ID     | Binomial                                      | Region               | coords
----------------------------------------------------------------------------------------------------
4714   | Banksia_ionthocarpa_subsp_chrysophoenix       | Katanning            | POINT(117.1792762 -32.41332852)
4715   | Banksia_ionthocarpa_subsp_chrysophoenix       | Katanning            | POINT(117.1792762 -32.41332852)
4716   | Banksia_ionthocarpa_subsp_chrysophoenix       | Katanning            | POINT(117.1792762 -32.41332852)
4717   | Banksia_ionthocarpa_subsp_chrysophoenix       | Katanning            | POINT(117.1792762 -32.41332852)
4718   | Banksia_ionthocarpa_subsp_ionthocarpa         | Fitzgerald           | POINT(119.1504387 -34.23074081)

ğŸ”Œ å·²å…³é—­ç”¨äºéªŒè¯Table16æ•°æ®çš„MySQLè¿æ¥ã€‚

### Step 6 - ç©ºé—´æŸ¥è¯¢ç¤ºä¾‹: æŸ¥æ‰¾å¢¨å°”æœ¬å¸‚ä¸­å¿ƒé™„è¿‘çš„æ¤ç‰©ç›‘æµ‹åŒºåŸŸ
ä»¥ä¸‹SQLæŸ¥è¯¢å±•ç¤ºäº†å¦‚ä½•åˆ©ç”¨ `coords` åˆ—åŠå…¶ç©ºé—´ç´¢å¼•æ¥é«˜æ•ˆåœ°æŸ¥æ‰¾åœ¨æŒ‡å®šåæ ‡ç‚¹ï¼ˆæ­¤å¤„ä¸ºå¢¨å°”æœ¬å¸‚ä¸­å¿ƒï¼‰ç‰¹å®šåŠå¾„èŒƒå›´å†…çš„æ‰€æœ‰æ¤ç‰©ç›‘æµ‹åŒºåŸŸã€‚

#### ä¸­æ–‡è¯´æ˜ç‰ˆ
```sql
-- è®¾ç½®ç›®æ ‡åæ ‡ï¼ˆå¢¨å°”æœ¬å¸‚ä¸­å¿ƒï¼šç»åº¦144.9631, çº¬åº¦-37.8136ï¼‰å’Œæœç´¢åŠå¾„ï¼ˆ100å…¬é‡Œï¼‰
SET @center_point = POINT(144.9631, -37.8136);
SET @radius_meters = 100 * 1000; -- 100å…¬é‡Œè½¬æ¢ä¸ºç±³

SELECT
    ID,
    Binomial,
    CommonName,
    Region,
    State,
    -- ä½¿ç”¨ ST_Distance_Sphere è®¡ç®—ç²¾ç¡®çš„çƒé¢è·ç¦»ï¼ˆå•ä½ï¼šç±³ï¼‰
    -- å¹¶å°†å…¶è½¬æ¢ä¸ºå…¬é‡Œä»¥ä¾¿é˜…è¯»
    (ST_Distance_Sphere(coords, @center_point) / 1000) AS distance_in_km
FROM
    Table16_TSX_SpeciesMonitoringTable
WHERE
    -- åœ¨ WHERE å­å¥ä¸­ç›´æ¥ä½¿ç”¨è¯¥å‡½æ•°è¿›è¡Œé«˜æ•ˆç­›é€‰
    -- MySQLä¼šåˆ©ç”¨ç©ºé—´ç´¢å¼•æ¥ä¼˜åŒ–è¿™ä¸ªæŸ¥è¯¢ï¼Œé¿å…å…¨è¡¨æ‰«æ
    ST_Distance_Sphere(coords, @center_point) <= @radius_meters
ORDER BY
    distance_in_km ASC; -- æŒ‰è·ç¦»ä»è¿‘åˆ°è¿œæ’åº
```

#### English Version
```sql
-- Set the target coordinates (Melbourne CBD: Longitude 144.9631, Latitude -37.8136) and search radius (100 km)
SET @center_point = POINT(144.9631, -37.8136);
SET @radius_meters = 100 * 1000; -- Convert 100 km to meters

SELECT
    -- Select key identifiers for the monitoring site
    ID,
    Binomial,
    CommonName,
    Region,
    State,

    -- Calculate the great-circle distance on a sphere, returning the result in meters.
    -- Then, convert it to kilometers for better readability.
    (ST_Distance_Sphere(coords, @center_point) / 1000) AS distance_in_km
FROM
    -- Specify the table containing the threatened species monitoring data.
    Table16_TSX_SpeciesMonitoringTable
WHERE
    -- Filter results to include only records within the specified radius of the central point.
    -- This operation is highly efficient as it leverages the SPATIAL INDEX on the 'coords' column,
    -- preventing a full table scan.
    ST_Distance_Sphere(coords, @center_point) <= @radius_meters
ORDER BY
    -- Sort the results by distance, from nearest to farthest.
    distance_in_km ASC;