# Import and Verify TSX Prediction Table (Table14) in MySQL

Name: Zihan

This notebook creates and imports the **TSX Prediction Table (Table14)** into the MySQL database.
It includes three main steps:
1. Create the table schema if not exists
2. Import data from the CSV file
3. Verify imported rows and preview sample data

## Step 1 - Create Table14 Schema

This step connects to the database and creates the table schema for `Table14_TSX_Table_VIC` if it doesn't already exist. The schema is defined based on the required data types for each column.

In [4]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Database connection configuration (using the same credentials as your example)
db_config = {
    'host': 'database-plantx.cqz06uycysiz.us-east-1.rds.amazonaws.com',
    'user': 'zihan',
    'password': '2002317Yzh12138.',
    'database': 'FIT5120_PlantX_Database',
    'allow_local_infile': True,
    'use_pure': True,
    'charset': 'utf8mb4'
}

# Step 1 - Create Table14 schema if not exists
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Successfully connected to MySQL server.")
        cursor = connection.cursor()

        create_table_14 = """
        CREATE TABLE IF NOT EXISTS Table14_TSX_Table_VIC (
            year INT,
            index_value DOUBLE,
            value_type TEXT,
            annual_mean_temp DOUBLE,
            annual_precip_sum DOUBLE,
            annual_radiation_sum DOUBLE,
            state TEXT
        ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
        """

        cursor.execute(create_table_14)
        connection.commit()
        print("Table14_TSX_Table_VIC schema created successfully.")

except Error as e:
    print(f"Error occurred during creating Table14 schema: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection for creating Table14 schema closed.")

Successfully connected to MySQL server.
Table14_TSX_Table_VIC schema created successfully.
MySQL connection for creating Table14 schema closed.

## Step 2 - Import Data into Table14

This step uses the `LOAD DATA LOCAL INFILE` command to efficiently bulk-load the data from `Table14_TSX_Table_VIC_version4.csv` into the newly created MySQL table.

In [5]:
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Connected for Table14 data import.")
        cursor = connection.cursor()

        # Before loading, let's clear the table to avoid duplicate entries on re-runs
        cursor.execute("TRUNCATE TABLE Table14_TSX_Table_VIC")
        print("Existing data in Table14_TSX_Table_VIC has been cleared.")

        load_data_query_14 = f"""
        LOAD DATA LOCAL INFILE 'Table14_TSX_Table_VIC_version4.csv'
        INTO TABLE Table14_TSX_Table_VIC
        CHARACTER SET utf8mb4
        FIELDS TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        LINES TERMINATED BY '\\r\\n'
        IGNORE 1 LINES
        (
            year,
            index_value,
            value_type,
            annual_mean_temp,
            annual_precip_sum,
            annual_radiation_sum,
            state
        );
        """

        cursor.execute(load_data_query_14)
        connection.commit()
        print(f"Table14 data import successful! {cursor.rowcount} rows affected.")

except Error as e:
    print(f"Error occurred during Table14 import: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection for Table14 import closed.")

Connected for Table14 data import.
Existing data in Table14_TSX_Table_VIC has been cleared.
Table14 data import successful! 168 rows affected.
MySQL connection for Table14 import closed.

## Step 3 - Verify Imported Rows and Preview (Table14)

This final step confirms that the data has been loaded correctly by counting the total number of rows in the table and displaying the first few entries for a visual check.

In [6]:
try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        cursor = connection.cursor()

        # Count total rows
        cursor.execute("SELECT COUNT(*) FROM Table14_TSX_Table_VIC")
        row_count = cursor.fetchone()[0]
        print(f"Table14_TSX_Table_VIC currently contains {row_count} rows.")

        # Preview first 5 rows using pandas for better formatting
        print("\n--- Preview of first 5 rows from Table14 ---")
        query = "SELECT * FROM Table14_TSX_Table_VIC LIMIT 5"
        preview_df = pd.read_sql(query, connection)
        display(preview_df)

except Error as e:
    print(f"Error occurred during Table14 verification: {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection for Table14 verification closed.")

Table14_TSX_Table_VIC currently contains 168 rows.

--- Preview of first 5 rows from Table14 ---

C:\Users\zyyin1\AppData\Local\Temp\ipykernel_49472\3809026224.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  preview_df = pd.read_sql(query, connection)

,year,index_value,value_type,annual_mean_temp,annual_precip_sum,annual_radiation_sum,state
0,2000,1.000000,Historical,14.757990,615.8,5848.0400,Victoria
1,2001,0.851265,Historical,14.526712,564.2,5662.2200,Victoria
2,2002,0.738937,Historical,14.698013,432.4,5789.7603,Victoria
3,2003,0.728083,Historical,14.443562,571.0,5895.1000,Victoria
4,2004,0.647233,Historical,14.277344,621.2,5806.9700,Victoria

MySQL connection for Table14 verification closed.